<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Newtonsoft.Json" version="12.0.2" targetFramework="net462" />
  <package id="System.Collections.Immutable" version="1.6.0-preview4.19212.13" targetFramework="net462" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net462" />
  <package id="Xceed.Products.Wpf.Toolkit.Base" version="3.8.19076.18510" targetFramework="net462" />
  <package id="Xceed.Wpf.Toolkit" version="3.8.19076.18510" targetFramework="net462" />
</packages>